# IST 652 Lab #2
### Instructions
- Complete all 5 questions in this assignment.
- <b> The work you submit must be your own </b>.
- Submitting some else's work as your own is an academic integrity violation and will be raised to academic affairs.
- It is always better to attempt a problem as partial credit may be granted.


### Submission Guide:
- Submit your answers on BlackBoard
- The file must be either a .py or .ipynb file type.
- The name of the file should be <i> ist652_lab2_lastname.py (.ipynb) </i> .


### Grading [ 5 total points ]
For Each Question, the following credit will be awarded:
- 0.85 for printing the correct answer to the console.
- 0.10 for approaching the problem efficiently.
- 0.05 for properly documenting and commenting your code.

---
### Questions

### ( 1 ) Given a list of non-empty tuples, write a sort expression that will sort in increasing order by the last element in each tuple.
for eample: 
- [(1, 7), (1, 3), (3, 4, 5), (2, 2)]

yields
- [(2, 2), (1, 3), (3, 4, 5), (1, 7)]


<b> 2 Examples </b>

Define at least two lists with tuples of different lengths and show the same sort expression executing against both lists.

##### [1 point]

In [29]:
# List #1
# Enter your code here, printing relevant answers to console:
list1 = [(1,3),(3,2),(5,6,4),(8,9,1)]
list1.sort(key=lambda tup: tup[-1])
list1

[(8, 9, 1), (3, 2), (1, 3), (5, 6, 4)]

In [30]:
# List #2
# Enter your code here, printing relevant answers to console:
list2 = [("a","i"),("c","b"),("e","f","d"),("h","i","h")]
list2.sort(key=lambda tup: tup[-1])
list2

[('c', 'b'), ('e', 'f', 'd'), ('h', 'i', 'h'), ('a', 'i')]

 ----

### ( 2a ) Given the grades of 21 students in a class, write a program which will print to console:
- The maximum grade <b>and</b> the student(s) who recieved it
- The minimum grade <b>and</b> the student(s) who recieved it
- The average (mean) grade for the entire class

### ( 2b )  Given the same grades as the previous question, write a program which will print to console: [.5 point]
- The median grade and the student who recieved it
- For a refresher on what the Median is, please see here: https://www.mathsisfun.com/median.html

<b>NOTE:</b> Since this list has an odd number of entries, there will be 1 student who falls directly in the middle of the sorted list. There is no need to solve for a tie-break (i.e. averaging among two middle values).

### ( 2c )  Given the same grades as the previous question, write a program which will print to console: 
- The mode grade and the student who recieved it
- For a refresher on what the Mode is, please see here: https://www.mathsisfun.com/mode.html

##### [1 point]

In [62]:
# Enter your code here, printing relevant answers to console:

grades = [['Harry', 89],
          ['Berry', 82],
          ['Tina', 78],
          ['Akriti', 92],
          ['Harsh', 93],
          ['Ben', 68],
          ['Geeta', 70],
          ['Tao', 75],
          ['Kelly', 100],
          ['Miguel', 99],
          ['Ashley', 80],
          ['Marta', 92],
          ['Jackson', 90],
          ['Freddy', 85],
          ['Lilly', 70],
          ['Albert', 75],
          ['Watson', 100],
          ['Juan', 99],
          ['Belle', 92],
          ['Nikhil', 91],
          ['Freddy', 100],]

grades.sort(key=lambda i: i[-1])
for i in grades:
    if i[-1] == grades[-1][-1]:
        print("max: "+i[0])
for i in grades:
    if i[-1] == grades[0][-1]:
        print("min: "+i[0])
sum([x[-1]for x in grades])/len(grades)

max: Kelly
max: Watson
max: Freddy
min: Ben

86.66666666666667

---

### ( 3 ) Given the following dictionary of people and their ages, print the dictionary items as a <u>sorted list</u> of strings in the following format:
- <i>value-key, for instance:</i>
    - '30-Harry'
    - '22-Berry'
    - ...
    - '22-Nikhil'


##### [1 point]

In [106]:
# Enter your code here, printing relevant answers to console:
age_dict = {'Harry': 30,
          'Berry': 22,
          'Tina': 25,
          'Akriti': 32,
          'Harsh': 61,
          'Ben': 47,
          'Geeta': 55,
          'Tao': 39,
          'Kelly': 27,
          'Miguel': 29,
          'Ashley': 29,
          'Marta': 33,
          'Jackson': 19,
          'Freddy': 18,
          'Lilly': 44,
          'Albert': 23,
          'Watson': 19,
          'Juan': 41,
          'Belle': 32,
          'Nikhil': 22,}

output = [print(x+'-'+str(y)) for x,y in age_dict.items()]

Harry-30
Berry-22
Tina-25
Akriti-32
Harsh-61
Ben-47
Geeta-55
Tao-39
Kelly-27
Miguel-29
Ashley-29
Marta-33
Jackson-19
Freddy-18
Lilly-44
Albert-23
Watson-19
Juan-41
Belle-32
Nikhil-22

### ( 4 ) Using either a loop or a list comprehension - write a program which generates the first 20 even squares.

- An even number is evenly divisible by 2 (i.e. with remainder 0)
- A square is a value which is yielded when it's square-root is multiplied by itself:
    - 4 is a square since it's equal to 2*2
    - 9 is a square since it's equal to 3*3
        - However, 9 is not even and should not be printed.
- Zero (0) <u>should not</u> be considered an even square
       

##### [1 point]

In [154]:
# Enter your code here, printing relevant answers to console:
count = 20
i=0
while count > 0:
    i+=1
    if(i**2) % 2 == 0:
        print(i**2)
        count-=1

4
16
36
64
100
144
196
256
324
400
484
576
676
784
900
1024
1156
1296
1444
1600

### ( 5 ) Print the following summary statistics from the dictionary of animals in a zoo.
##### NOTE: key = specie : value = number of animals in zoe
- The number of distict specie
- The total number of animals
- The specie(s) with the most members
- The specie(s) with the least members
- The average number of animals/specie

##### [1 point]

In [181]:
zoo_animals = {'giraffe':3,
              'elephant':4,
              'lion':9,
              'hippopotamus':1,
              'crocodile':25,
              'wild dog':5,
              'hyena':10,
              'zebra':9,
              'anaconda':25,
              'python':5,
              'kangaroo':10,
              'cheetah':2,
              'leopard':1}
print("type of animals: ",len(zoo_animals))
print("sum of animals: ",sum({x for k,x in zoo_animals.items()}))
ma = max(i for i in zoo_animals.values())
mi = min(i for i in zoo_animals.values())
[print("most members: ", k) for k,v in zoo_animals.items() if v==ma]
[print("least members: ", k) for k,v in zoo_animals.items() if v==mi]
print("average: ",sum(zoo_animals.values())/len(zoo_animals))

type of animals:  13
sum of animals:  59
most members:  crocodile
most members:  anaconda
least members:  hippopotamus
least members:  leopard
average:  8.384615384615385